/* Modal Element */
.modal-element {
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  -webkit-overflow-scrolling: touch;
  outline: 0;

  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #c8c8c8;
}

.modal-element * {
  box-sizing: border-box;
}

/* Modal Dialog */
.modal-element .modal-dialog {
  position: relative;
  width: auto;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Modal Content */
.modal-dialog .modal-content {
  position: relative;
  display: flex;
  align-items: center;
  text-align: center;
  height: auto;
  min-height: 100%;
  border-radius: 0;
  background-color: #2e3338;
}

/* Modal Inner Content */
.modal-content .modal-inner {
  width: 100%;
}

.modal-inner .ok-icon {
  color: #62c462;
  display: none;
}

.modal-inner .loading-container {
  margin-top: 10px;
}

.modal-inner .finished-container {
  display: none;
}

.modal-inner .info {
  width: 40%;
  margin: 0 auto;
  margin-top: 5px;
  text-align: justify;
}

@media screen and (max-width: 480px) {
  .modal-inner .info {
      width:80%;
  }
}

@media screen and (orientation:landscape) {
  .modal-inner .info {
    width:80%;
  }
}

/* Modal Button */
.modal-inner .close-btn {
  display: inline-block;
  margin-top: 2em;
  background-color: #3a3f44;
  background-image: -webkit-linear-gradient(#484e55, #3a3f44 60%, #313539);
  background-image: -o-linear-gradient(#484e55, #3a3f44 60%, #313539);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#484e55), color-stop(60%, #3a3f44), to(#313539));
  background-image: linear-gradient(#484e55, #3a3f44 60%, #313539);
  background-repeat: no-repeat;
  color: #ffffff;
  border: 1px solid transparent;
  border-color: #000000;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
  margin-bottom: 0;
  font-family: inherit;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  white-space: nowrap;
  padding: 8px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-appearance: button;
  cursor: pointer;
  text-transform: none;
  overflow: visible;
}

.modal-inner .close-btn:hover {
  color: #ffffff;
  background-color: #232628;
  background-image: -webkit-linear-gradient(#020202, #101112 40%, #141618);
  background-image: -o-linear-gradient(#020202, #101112 40%, #141618);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#020202), color-stop(40%, #101112), to(#141618));
  background-image: linear-gradient(#020202, #101112 40%, #141618);
  background-repeat: no-repeat;
  border-color: rgba(0,0,0,0.6);
  text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
}